<h1>Niveles de glucosa</h1>

<mat-card>
  <mat-card-title>Nuevo registro</mat-card-title>
  <div class="row">
    <mat-form-field class="row-item grow">
      <input matInput placeholder="Nivel de glucosa" [(ngModel)]="nuevoRegistro.Nivel" required>
    </mat-form-field>
    <mat-form-field class="row-item grow">
      <mat-label>Comida</mat-label>
      <mat-select [(ngModel)]="nuevoRegistro.Comida" required>
        <mat-option value="Desayuno">Desayuno</mat-option>
        <mat-option value="Comida">Comida</mat-option>
        <mat-option value="Cena">Cena</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="row-item grow">
      <mat-label>Antes o después de alimentos</mat-label>
      <mat-select [(ngModel)]="nuevoRegistro.AntesDespues">
        <mat-option value="Antes">Antes</mat-option>
        <mat-option value="Despues">Después</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="row-item grow">
      <input matInput type="datetime-local" placeholder="Fecha" [(ngModel)]="nuevoRegistro.Fecha">
    </mat-form-field>
    <button class="row-item" mat-button [disabled]="IsInvalid()" (click)="Guardar()">
      <mat-icon>save</mat-icon> Guardar
    </button>
    <button class="row-item" mat-button (click)="LimpiarForma()">
      <mat-icon>delete</mat-icon> Cancelar
    </button>
  </div>
</mat-card>

<mat-card>
  <mat-card-title>Mis registros</mat-card-title>
  <div class="row">
    <mat-form-field class="row-item grow">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
      <td mat-cell *matCellDef="let row"> {{row.Fecha|date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="nivel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.Nivel}} </td>
    </ng-container>

    <ng-container matColumnDef="comida">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Comida </th>
      <td mat-cell *matCellDef="let row"> {{row.Comida}} </td>
    </ng-container>

    <ng-container matColumnDef="antesDespues">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Antes/Después </th>
      <td mat-cell *matCellDef="let row"> {{row.AntesDespues}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="Eliminar(row.Id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</mat-card>
